body{
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#3f3f3f;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.5;
}
a{
    text-decoration: none;
    color:#2a7ae2;
}
a:hover{
    text-decoration: underline;
}
.outer-container{
    max-width: 1000px;
    margin: 0 auto;
}

nav.icons{
  float:left;
  width:100%;
  margin-bottom:20px;
}
.subscribe-icons{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;

}
.subscribe-icons div{
  margin: 5px;
  font-size: 1.2rem;
  background-color: #EEE;
  border-radius: 5px;
  flex: 0 0 auto;
}
.subscribe-icons div a{
  display: flex;
  padding:10px;
}
.subscribe-icons div a:hover{
  background-color: #3f3f3f;
  border-radius: 5px;
  text-decoration: none;
  color:#FFF;
}
.subscribe-icon a:before{
  display: inline-block;
  width: 25px;
  height: 25px;
  content: '';
  margin-right: 0.7rem;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
  margin-top:2px;
  background-color:#FFF;
}
.subscribe-icon-itunes a:before{
  background-image: url("/assets/images/icons/itunes.svg");
}
.subscribe-icon-spotify a:before{
  background-image: url("/assets/images/icons/spotify.svg");
}
.subscribe-icon-google-podcast a:before{
  background-image: url("/assets/images/icons/google-podcasts.svg");
}
.subscribe-icon-overcast a:before{
  background-image: url("/assets/images/icons/overcast.svg");
}
.subscribe-icon-stitcher a:before{
  background-image: url("/assets/images/icons/stitcher.svg");
}
.subscribe-icon-pocketcasts a:before{
  background-image: url("/assets/images/icons/pocketcasts.svg");
}
.subscribe-icon-rss a:before{
  background-image: url("/assets/images/icons/rss.svg");

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profile_pic img{
  width:75px;
  height:75px;
}
.circle {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #DDD;
}

.episode-list{
    display: flex;
    flex-direction: row;
    width:100%;
    background-color:#f4f4f4;
    border:1px solid #DDD;
}

.episode-list div{
  margin:10px;
}
.episode-date{
  display: flex;
  align-items: center;
  margin-left:20px;
}

.episode-patreon-link{
  padding:5px;
  display:inline-block;
}
.episode-title{
    display: flex;
    align-items: center;
    margin-left:20px;
}
.episode-details{
  background-color:#DDD;
  border:1px solid #DDD;
  width:100%;
  text-align:center;

}
.episode-details .episode-date{
  padding:5px;
  display:inline-block;
}
.sponsor-link{
  display:block;
  width:100%;
  text-align:center;
  font-size: 0.6em;
}

/* header */

.header {
  position:relative;
  width:100%;
  float:left;
  border-bottom:1px solid #DDD;
  margin-bottom:20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 15px 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .episode-details{
    text-align: left;
  }
  .header .logo{
    font-size: 2em;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

