{% extends 'base.html.twig' %}

{% block title %}{{ site_title }}{% endblock %}

{% block body %}
    {% include '_header_rss_links.html.twig' %}

    <div class="example-wrapper">
        <h1>How To Code Well Sponsorship</h1>
        <p>
            Would you like to promote your message and brand to thousands of developers on a weekly basis? If you think
            that
            the How To Code Well audience is a good fit for your brand then <a href="{{ path('contact') }}">get in
                touch.</a>
        </p>
        <p>
            Hosted by <a href="https://twitter.com/pfwd" target="_blank">Peter Fisher</a> the How To Code Well podcast
            is an interview based and knowledge sharing audio and video show for web
            developers and programmers that covers all areas of the web development industry.
        </p>
        <h2>Audience Interests</h2>
        <p>
            Our audience has a very diverse set of interests in web development. From backend to frontend development as
            well as management and devops.
        </p>
        <h2>
            Technical interests</h2>
        <p>
            The audience caters for a wide range of technical topics such as:</p>

        <ul>
            <li>PHP, Python, Ruby, Go</li>
            <li>CSS, JavaScript and HTML</li>
            <li>Frameworks and libraries</li>
            <li>Docker, kubernetes and Linux</li>
            <li>Micro frameworks, serverless and devops</li>
            <li>Mobile apps</li>
            <li>Testing, software architectures and good practices</li>
            <li>Developments, CI, CD and work flows</li>
        </ul>

        <h2>Interests in web development career progression and soft skills</h2>
        <p>The audience has a keen interest in career progression, improving their development journey as well as
            levelling up their soft skills.</p>
        <ul>
            <li>Recommendations of developer learning resources</li>
            <li>Industry advice from leaders in the field</li>
            <li>Communication and management skills</li>
            <li>Career progression from development to management and visa versa</li>
            <li>Developer conferences and events</li>
            <li>Developer books and videos</li>
        </ul>
        <h2>Not just a standard podcast</h2>
        <ul>
            <li>Each episode is videoed and available on the <a href="https://youtube.com/howtocodewell"
                                                                target="_blank">How To Code Well YouTube channel</a>.
            </li>
            <li>Each episode gets it's own page on this website and <a
                        href="https://howtocodewell.fm">howtocodewell.fm</a></li>
        </ul>


        <h2>Pricing</h2>
        <p>Please get in touch for pricing and availability.</p>

        <h2>What a sponsor will get in return</h2>
        <p>Typically each sponsor will get the following:</p>
        <ul>
            <li>A sponsorship spot at the top of show notes. This is shown in the YouTube video description and episode
                page
                on the
                website. This is great for links to your product or services.
            </li>
            <li>A single intro line "This episode is sponsored by ..... " at the start of the show</li>
            <li>A 1-2 minute sponsor slot midway through the video/audio</li>
            <li>Promotion on the <a href="https://twitter.com/howtocodewell" target="_blank">How To Code Well social
                    media accounts</a> with a link to your product or service
            </li>
        </ul>
        <h2>Get in touch</h2>
        <p>Please <a href="{{ path('contact') }}">send an email</a> if you are interested in sponsoring and working
            together with How To Code Well.</p>
    </div>
{% endblock %}
