{% assign description = site.description %}
{% if include.description == '' %}
    {% assign description = include.description %}
{% endif %}

{% assign title = site.title %}
{% if include.title == '' %}
    {% assign title = include.title %}
{% endif %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description }}"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@pfwd">
<meta name="twitter:site" content="@howtocodewell">
<meta property="og:url" content="http://howtocodewell.fm{{page.url}}">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">

<meta name="twitter:image" content="http://howtocodewell.fm/assets/images/howtocodewell_logo_800_418.jpg">
<meta property="og:image" content="http://howtocodewell.fm/assets/images/howtocodewell_logo_1200x1200.jpg">

<title>{{title}}</title>