
<h3>My Programming Courses</h3>
Professional programming courses for web developers
<ul>
    <li>
        <a href="https://howtocodewell.net/courses/pro">Pro courses</a>
    </li>
    <li>
        <a href="http://bit.ly/2vvz2sA">Docker in Motion</a>
    </li>
    <li>
        <a href="http://bit.ly/2S6aMYB">Hands-On Microservices in Python</a>
    </li>
</ul>
<h3>Recommended Programming Books</h3>
<ul>
    <li>
        <a href="http://bit.ly/2BIrExp">Manning Publications books</a>
    </li>
    <li>
        <a href="https://howtocodewell.net/shop/books/python">Python books</a>
    </li>
    <li>
        <a href="https://howtocodewell.net/shop/books/php">PHP books</a>
    </li>
    <li>
        <a href="https://howtocodewell.net/shop/books/linux">Linux books</a>
    </li>
        <li>
        <a href="http://howtocodewell.net/shop/books/docker">Docker books</a>
    </li>
</ul>

