{% set full_url = site.url  %}
{% if  page.url != '/.'%}
    {% set full_url = site.url ~ page.url  %}
{% endif %}
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#14252c">
    <link rel="canonical" href="{{ full_url }}" />
    <link rel="alternate" href="{{ full_url }}"  hreflang="en" />
    <link rel="icon" sizes="192x192" href="/assets/images/logos/howtocodewell_logo_192x192.png">
    <meta name="description" content="{{ page.meta.description | default(site.meta.description) }}"/>
    <link rel="manifest" href="/manifest.json">
    <script type="application/javascript" src="/assets/js/main.js"></script>
    <script type="application/javascript" src="/assets/js/utils.js"></script>
    <script type="application/javascript" src="/assets/js/web-share.js"></script>

    {%  block head_meta_twitter_cards %}
        {%  include "head_meta_twitter_cards.html.twig" %}
    {%  endblock %}
    {%  block head_meta_facebook_og %}
        {%  include "head_meta_facebook_og.html.twig" %}
    {%  endblock %}
    <title>{% block title %}{{ page.title | default(site.meta.title) }}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/site.css?version=4">
    {% block head_styles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
    {% if site.active_google_tag_manager %}
        {% include "head_google_tag_manager.html.twig" %}
    {% endif %}
  </head>
  <body>
  {% if site.active_google_tag_manager %}
      {% include "body_google_tag_manager.html.twig" %}
  {% endif %}
         <header class="header">
               <div class="outer-container">
                  <div class="grid-container inner-container">
                      <a href="/" class="logo">How To Code Well Podcast</a>
                      <input class="menu-btn" type="checkbox" id="menu-btn" />
                      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                      <ul class="menu">
                          <li><a href="/season/2">Episodes</a></li>
                          <li><a href="/schedule">Schedule</a></li>
                          <li><a href="https://mailchi.mp/6fc07ff94f3b/howtocodewell-podcast" target="_blank" rel="noopener noreferrer">Newsletter</a></li>
                          <li><a href="/contact">Contact</a></li>
                      </ul>
                  </div>
               </div>
        </header>


  <div class="outer-container">
      <div class="grid-container inner-container">


          {% block content_wrapper %}
            <main class="main">
          {% block content %}{% endblock %}

            </main>
        {% endblock %}


      </div>
    </div>
  <footer class="footer">
     <div class="outer-container">
      <div class="grid-container inner-container">
      Running in Docker, Scripted in Sculpin, Stored in <a href="https://github.com/howToCodeWell/howToCodeWellFM">GitHub</a>
      <br/>
      <a target="_blank" rel="noopener noreferrer" href="https://howtocodewell.libsyn.com/rss">RSS Feed</a> | <a target="_blank" rel="noopener noreferrer" href="https://howtocodewell.net">Video courses</a> | <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/howToCodeWell">Follow on Twitter</a> | <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/howtocodewell?sub_confirmation=1">Watch on YouTube</a>
        <div class="sponsor-link">
            <a href="/sponsor/">Sponsor the podcast</a>
        </div>
      </div>
     </div>
    </footer>
  </body>
</html>