{% extends "base.html.twig" %}
{% block content_wrapper %}
    <main class="main">
        <div class="main-contents">
          {% block content %}{% endblock %}
        </div>
    </main>
 {% endblock %}