{% extends "base.html.twig" %}
{% block content_wrapper %}

    <main class="main">
      <h1>asdasd</h1>
      {#Published: {{ page.date | date()  }}#}

        {#{% include "../_includes/youtubePlayer.html.twig" with { id:page.youtubeId } %}#}

      {#{{ page.guest }}#}
      {#<!--{% include twitterImage.html alt_text=page.guest handle=page.guests_twitter profile_img=page.profile_img %}-->#}

      {% block content %}{% endblock %}

      {#<!--{% include podcastPlayer.html id=page.podcast_id %}-->#}
      <hr/>
      {% include "../_includes/postLinks.html.twig" %}
    </main>
 {% endblock %}

