body {
    display: grid;
    grid-template-areas:
    "header"
    "article"
    "footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: none;
    grid-row-gap: 0;
    height: 100vh;
    margin: 0;
    background: #4a5568;
    font-family: system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

iframe {
    width: 750px;
    height: 100px;
}

a {
    color: #000;
}

a:hover, #pageFooter nav ul li a:hover {
    text-decoration: none;
    color: #EC4899;
}

header, footer, article {
    padding: 1.2em;
    background: #14252C;
    color: #FFF;
}

footer {
    padding: 20px 0 20px 0;
}

article {
    background: #FFF;
    color: #000;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: #FFF;
}

header nav {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 24px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

header ul, #pageFooter nav ul {
    display: -webkit-flex;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#pageFooter nav ul {
    justify-content: center;
}

header ul li a, #pageFooter nav ul li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.nav__icon,
.nav__icon span {
    display: none;
}

.nav__icon {
    width: 36px;
    height: 28px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.nav__icon span {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

.nav__icon span:nth-of-type(1) {
    top: 0;
}

.nav__icon span:nth-of-type(2) {
    top: 12px;
}

.nav__icon span:nth-of-type(3) {
    bottom: 0;
}

.nav__icon.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotate(-45deg);
}

.nav__icon.active span:nth-of-type(2) {
    display: none;
}

.nav__icon.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body {
        grid-template-areas:
      "header"
      "article"
      "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }

    iframe {
        width: 100%;
        height: 100px;
    }
}


@media only screen and (max-width: 700px) {
    header nav {
        display: none;
    }

    header {
        position: relative;
        z-index: 999;
    }


    header ul {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        background: rgba(0, 0, 0, .8);
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        z-index: 980;
    }

    header ul li {
        padding: 10px;
        text-align: center;
    }

    header ul li a {
        display: block;
        background: transparent;
        margin: 0px;
        padding: 20px;
    }

    header ul li a:hover {
        color: #000;
        background: #fff;
    }

    header .nav__icon,
    header .nav__icon span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        z-index: 999;
    }
}

.pagination {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination span {
    margin-right: 5px;
}

.pagination a, .pagination .current {
    padding: 10px;
    text-decoration: none;
    color: #000;
    background: #CCC;
}

.pagination .current {
    color: #FFF;
    background: #EC4899;
}

.pagination a:hover {
    text-decoration: none;
    color: #FFF;
    background: #EC4899;
}

.list-item a {
    text-decoration: none;
    color: #000000;
}

.list-item a:hover {
    color: #EC4899;
}

.list .list-item h3 {
    margin-top: 0;
}

.list .list-item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #CCC;
    box-shadow: 2px 4px;
}

.form-group {
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    height: 300px;
}

button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.radio-container {
    margin-top: 10px;
}

.radio-label, .radio-control {
    display: inline-block;
}

.radio-label {
    margin-left: 5px;
}

.latest-episode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

ol li, ul li {
    padding: 5px;
}

nav.icons {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.subscribe-icons {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

.subscribe-icons div {
    margin: 5px;
    font-size: 1.0rem;
    border-radius: 5px;
    flex: 0 0 auto;
}

.subscribe-icon-itunes a:before {
    background-image: url(/assets/images/icons/itunes.svg);
}

.subscribe-icon-spotify a:before {
    background-image: url(/assets/images/icons/spotify.svg);
}

.subscribe-icon-google-podcast a:before {
    background-image: url(/assets/images/icons/google-podcasts.svg);
}

.subscribe-icon-overcast a:before {
    background-image: url(/assets/images/icons/overcast.svg);
}

.subscribe-icon-stitcher a:before {
    background-image: url(/assets/images/icons/stitcher.svg);
}

.subscribe-icon-pocketcasts a:before {
    background-image: url(/assets/images/icons/pocketcasts.svg);
}

.subscribe-icon-rss a:before {
    background-image: url(/assets/images/icons/rss.svg);
}

.subscribe-icon-youtube a:before {
    background-image: url(/assets/images/icons/youtube.svg);
}

.subscribe-icons div a {
    display: flex;
    padding: 7px;
    text-decoration: none;
    align-items: center;
}

.subscribe-icon a:before {
    display: inline-block;
    width: 25px;
    height: 25px;
    content: '';
    margin-right: 0.5rem;
    background-size: cover;
}

.alert {
    color: #FFF;
    padding: 10px;
    border-width: 1px;
}

.alert-success {
    background-color: #0BAB77FF;
    border-color: #0bab77;
}

.alert-error {
    background-color: #B91010FF;
    border-color: #620A0AFF;
}

.has-error input {
    border: 1px solid #620A0AFF;
    background-color: #EAA2A0FF;
}