<div class="follow-container">
    <h4>Follow How To Code Well</h4>
    <div class="follow-icon-container">
        <div class="">
            <a href="http://youtube.com/howtocodewell">
                <img src="/assets/images/follow/youtube.svg" alt="Follow How To Code Well on YouTube"/>
            </a>
        </div>
        <div class="">
            <a href="http://twitch.tv/howtocodewell">
                <img src="/assets/images/follow/twitch.svg" alt="Live Coding on Twitch"/>
            </a>
        </div>
        <div class="">
            <a href="https://twitter.com/howtocodewell">
                <img src="/assets/images/follow/twitter.svg" alt="Follow How To Code Well on Twitter"/>
            </a>
        </div>
        <div class="">
            <a href="http://instagram.com/howtocodewell">
                <img src="/assets/images/follow/instagram.svg" alt="Follow How To Code Well on Instagram"/>
            </a>
        </div>
        <div class="">
            <a href="http://facebook.com/howtocodewell/">
                <img src="/assets/images/follow/facebook.svg" alt="Follow How To Code Well on Facebook"/>
            </a>
        </div>
        <div class="">
            <a href="http://howtocodewell.net/discord">
                <img src="/assets/images/follow/discord.svg" alt="Join the discussion on Discord"/>
            </a>
        </div>
    </div>
</div>