<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
  <div class="outer-container">
  <div class="grid-container">

    <header class="header">
      {% include pageNav.html %}
    </header>
      <main class="main">
        <h1>{{ page.title }}</h1>
        {{ content }}


      </main>
    <footer class="footer">
     {% include pageFooter.html %}
    </footer>

      </div>
    </div>
  </body>
</html>