{% extends 'base.html.twig' %}
{% block title %}Oh No! Something went bang :( {% endblock %}
{% block body %}
    <h1>Something has gone wrong</h1>
    <p>Pete is on it. Please try again</p>
{% endblock %}